body.signup-body{
    background-color: gold;
}

.container.signup-container{
    margin-top: 1.5%;
   
}

.card.signup-card{
    padding: 0px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #000;
}

.killshot{
    text-align: center;
    display: block;
    color: gold;
    font-family: 'Monoton', cursive;
    font-size: 70px;
    margin-top: 50px;
}

.img-fluid.signup-img{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 50%;
}

form.signup-form{
    max-width: 350px;
    margin: auto;   
    
}

button.signup-btn{
    color: #181818;
    background-color: gold;
    width: 100%;
    margin-bottom: 1rem;
}

a.signin-account{
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #404040;
    text-decoration: none;
}


